<div class="homepage-bigmacbook d-none d-lg-block">
  <div class="macbook">
    <img src="/image/macbook.png" alt="macbook" class="w-100" />
    <div
      class="screen"
      style="background: url('/image/<%- page.cover.image %>')"
    ></div>
  </div>
</div>
<div class="homepage-cover py-3">
  <div class="container">
    <div class="homepage-sec">
      <section class="sec-cover">
        <div class="row">
          <div class="col-lg-6 px-4 py-2">
            <div class="macbook d-lg-none">
              <img src="/image/macbook.png" alt="macbook" class="w-100" />
              <div
                class="screen"
                style="background: url('/image/<%- page.cover.image %>')"
              ></div>
            </div>
          </div>
          <div class="col-lg-6 px-4 py-2">
            <h1 class="homepage-title fw-bold text-white">
              <%- page.cover.title %>
            </h1>
            <p class="fs-5 fw-bold text-white"><%- page.cover.subtitle %></p>
            <p class="fs-5 fw-bold text-primary my-3">
              <%- page.cover.description %>
            </p>
            <div class="mt-5">
              <a
                class="btn btn-primary px-4 rounded-pill fs-4 fw-bold"
                href="#result"
                >前往專案成果</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
