<section id="result">
  <h2 class="text-primary text-center fw-bold homepage-headline">專案成果</h2>
  <% page.result.projects.forEach(function(value, index){ %>
  <div class="row origin">
    <div
      class="col-md-6 px-4 py-2 <% if(index%2==1) { %>result-order-last<% } %>"
    >
      <h3 class="mb-3 fs-4 fw-bold text-center" style="color: <%- value.color %>">
        <%- value.title %>
      </h3>
      <% if(value.background == "macbook") { %>
      <div class="macbook mb-3">
        <img src="/image/macbook.png" alt="macbook" class="w-100" />
        <div
          class="screen"
          style="background: url('/image/<%- value.image %>')"
        ></div>
      </div>
      <% } else if(value.background == "iphone") { %>
      <div class="iphone">
        <img src="/image/iphone.png" alt="iphone" class="w-100" />
        <div
          class="screen"
          style="background: url('/image/<%- value.image %>')"
        ></div>
      </div>
      <% } %>
    </div>
    <div class="col-md-6 px-4 py-2">
      <div class="fs-5 mb-3 fw-bold"><%- value.subtitle %></div>
      <div class="mb-3 text-justify"><%- value.description %></div>
      <div class="members mt-4">
        <% value.members.forEach(function(value){ %>
        <div class="member m-3 border-0 text-center">
          <img
            src="/image/<%- value.image %>"
            alt="<%- value.name %>"
            class="rounded-circle"
          />
          <span><%- value.name %></span>
        </div>
        <% }) %>
      </div>
      <div class="text-center">
        <a
          href="<%- value.link %>"
          class="btn mt-4 px-4 rounded-pill fs-5 fw-bold text-white"
          style="background-color: <%- value.color %>"
        >
          前往專案成果
        </a>
      </div>
    </div>
  </div>
  <% }) %>
</section>
