<section id="filter">
  <div class="container">
    <div class="title">
      <h2><%- page.filter.title %></h2>
      <span><%- page.filter.content %></span>
    </div>
    <hr>
    <div class="row">
      <div class="col-2">
        <h3><%- page.filter.search_title %></h2>
      </div>
      <div class="col-10">
        <div class="search-bar">
          <input type="text" class="form-control form-control-lg w-100" id="search-text" onkeyup="reload_list()">
        </div>
      </div>
    </div>
    <div class="row filter-dept">
      <div class="col-2">
        <h3><%- page.filter.dept_title %></h2>
      </div>
      <div class="col-10">
        <div class="collapse" id="collapseDept">
          <div class="filter-items">
            <% site.pages.filter(p => p.id == "department").data[0].items.filter(p => p.id != "PDIS").forEach(dept => { %>
            <div class="filter-item dept" data-id="<%- dept.id %>" data-name="<%-  page.lang == 'en' ? dept[page.lang]['fullname'] : dept[page.lang]['name'] %>" data-active="false" onclick="click_filter(this)"></div>
            <% }) %>
          </div>
        </div>
        <a class="more" data-bs-toggle="collapse" href="#collapseDept">展開更多部會</a>
      </div>
    </div>
    <div class="row filter-tag">
      <div class="col-2">
        <h3><%- page.filter.tag_title %></h2>
      </div>
      <div class="col-10">
        <div class="collapse" id="collapseTag">
          <div class="filter-items">
            <% site.pages.filter(p => p.id == "tag").data[0].items.forEach(tag => { %>
            <div class="filter-item tag" data-id="<%- tag.id %>" data-name="<%- tag.name[page.lang] %>" data-active="false" onclick="click_filter(this)"></div>
            <% }) %>
          </div>
        </div>
        <a class="more" data-bs-toggle="collapse" href="#collapseTag">展開更多類型</a>
      </div>
    </div>
    <hr>
  </div>
</section>