<section id="result">
  <div class="container">
    <div class="title">
      <h2><%- page.result.title %></h2>
      <span><%- page.result.content %>，篩選出 <span id="result-count">0</span> 案相關協作會議</span>
    </div>

    <div class="sort">
      <select id="select-sort" class="form-select" onchange="reload_list()">
        <option selected value="asc">由舊到新</option>
        <option value="desc">由新到舊</option>
      </select>
    </div>

    <% get_metadata().forEach(post => { %>
    <div class="row case" data-id="<%- post.id %>" onclick="location.href='<%- url_for(post.path) %>'">
      <div class="col-4">
        <div class="image" style="background: url('<%- post.thumbnail %>')">
        </div>
      </div>
      <div class="col-8 d-flex flex-column justify-content-between">
        <div>
          <h3><%- post.title %></h3>
          <p><%- post.description %></p>
        </div>
        <div>
          <% array(post.tags).forEach(d => { d = find_tag(d); %>
          <a class="badge rounded-pill fw-normal badge-tag" href="?tag=<%- d.id %>"><%- d.name %></a>
          <% }) %>
          <% array(post.depts).forEach(d => { d = find_dept(d); %>
          <a class="badge rounded-pill fw-normal badge-dept" href="?dept=<%- d.id %>"><%- d.name %></a>
          <% }) %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</section>