<section id="achievement">
  <div class="container">
    <h2 class="text-primary text-center mb-5"><%- page.achievement.title %></h2>
  </div>
  <div class="bg">
    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <% page.achievement.cases.forEach((p, index) => {
             const post = site.pages.filter(a => a.id == p && a.lang == page.lang).data[0];
          %>
          <div class="carousel-item <%- index == 0 ? 'active' : '' %>">
            <div class="big-card row">
              <div class="col-lg-7">
                <div class="image" style="background: url('<%- post.thumbnail %>')"></div>
              </div>
              <div class="col-lg-5 content">
                <h3><%- post.title %></h3>
                <p>
                 <%- post.description %>
                </p>
                <p>
                 <%- post.introduction.content %>
                </p>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</section>
