<section id="achievement">
  <div class="container">
    <h2 class="text-primary text-center mb-5"><%- page.achievement.title %></h2>
  </div>
  <div class="bg">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide d-flex" data-bs-ride="carousel">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <div class="carousel-inner flex-grow-1">
          <% page.achievement.cases.forEach((p, index) => { const post =
          site.pages.filter(a => a.id == p && a.lang == page.lang).data[0]; %>
          <div class="carousel-item <%- index == 0 ? 'active' : '' %>">
            <div class="big-card">
              <div class="row">
                <div class="col-lg-8">
                  <div class="image" style="background: url('<%- post.thumbnail %>')"></div>
                </div>
                <div class="
                  col-lg-4
                  content
                  d-flex
                  flex-column
                  justify-content-between
                ">
                  <div>
                    <h3><%- post.title %></h3>
                    <p class="mt-4"><%- post.description %></p>
                    <p class="ellipsis"><%- post.introduction.content %></p>
                    <div>
                      <% 
                    array(post.tags).forEach(d => { 
                      d = find_tag(d);
                      if(!d) return;
                    %>
                      <a class="badge rounded-pill fw-normal badge-tag" href="/list/?tag=<%- d.id %>"><%- d.name %></a>
                      <% 
                    });
                    array(post.departments).forEach(d => { 
                      d = find_dept(d);
                      if(!d) return;
                    %>
                      <a class="badge rounded-pill fw-normal badge-dept" href="/list/?dept=<%- d.id %>"><%- d.name %></a>
                      <% }) %>
                    </div>
                  </div>
                  <div class="mt-3 d-flex justify-content-end">
                    <a class="btn btn-primary px-4 py-2 rounded-pill" href="<%- post.path %>">瀏覽本案</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>