<section id="search">
  <div class="container">
    <h2 class="text-primary mb-5"><%- page.search.title %></h2>
    <div class="search-bar mb-5">
      <input id="search-text" type="text" placeholder="<%- page.search.placeholder %>" autocomplete="off" />
      <div class="search-btn" onclick="location.href='/list/?search='+document.getElementById('search-text').value">
        <i class="fas fa-search"></i>
      </div>
    </div>

    <p class="fs-3 mb-5"><%- page.search.following_tag %></p>

    
    <ul class="tags nav mb-5 justify-content-center" role="tablist">
      <% 
        site.data.tags.filter(tag => tag.home.toString().toLowerCase() == "true").forEach((tag, index) => { 
        const active = index == 0 ? "active" : "";
      %>
      <li>
        <button class="btn btn-tag rounded-pill <%- active %>" data-bs-toggle="pill" data-bs-target="#tab-<%- tag.id %>">
          <%- tag[page.lang].name %>
        </button>
      </li>
      <% }) %>
    </ul>
    <div class="tab-content w-100">
      <%
        find_case(site.data.tags.filter(tag => tag.home.toString().toLowerCase() == "true")).forEach((t, index)=> { 
        const active = index == 0 ? "show active" : "";
      %>
      <div class="tab-pane fade <%- active %>" id="tab-<%- t.id %>">
        <% t.post.every((post,index) => { %>
        <div class="row case" data-id="<%- post.id %>" onclick="location.href='<%- url_for(post.path) %>'">
          <div class="col-4">
            <div class="image" style="background: url('<%- post.thumbnail %>')">
            </div>
          </div>
          <div class="col-8 d-flex flex-column justify-content-between">
            <div>
              <h3><%- post.title %></h3>
              <p><%- post.description %></p>
            </div>
            <div>
              <% array(post.tags).forEach(d => { d=find_tag(d); %>
              <a class="badge rounded-pill fw-normal badge-tag" href="?tag=<%- d %>"><%- d.name %></a>
              <% }) %>
              <% array(post.departments).forEach(d => { d=find_dept(d); %>
              <a class="badge rounded-pill fw-normal badge-dept" href="?dept=<%- d %>"><%- d.name %></a>
              <% }) %>
            </div>
          </div>
        </div>
        <% if (index == 2 ) return false;
           else return true; }) %>
        <div class="more">
          <a href="/list/?tag=<%- t.id %>"> <%- page.search.more %> </a>
        </div>
      </div>
      <% }) %>
    </div>

    
  </div>
</section>