<main class="post">
  <%- partial('partial/post/cover') %>
  <%- partial('partial/post/introduction') %>
  <%- partial('partial/post/join') %>
  <%- partial('partial/post/embed') %>
  <%- partial('partial/post/picture') %>
  <%- partial('partial/post/more') %>
</main>  