<section id="search">
  <div class="container">
    <h2 class="text-primary mb-5"><%- page.search.title %></h2>
    <input
      class="search-bar mb-5"
      type="text"
      placeholder="<%- page.search.placeholder %>"
    />
    <p class="fs-2 mb-5"><%- page.search.following_tag %></p>
    <div class="tags mb-5">
      <% page.search.tags.forEach(tag => { %>
      <button class="btn btn-tag rounded-pill"><%- tag %></button>
      <% }) %>
    </div>
    <div class="row w-100 gy-4">
      <div class="col-lg-4 col-md-6">
        <div class="case-card">
          <div class="content">
            <h3>「以共創開創對話的空間」</h3>
            <p>開放政府第66次協作會議<br />故宮有精神工作坊</p>
          </div>
          <div class="bg"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="case-card">
          <div class="content">
            <h3>「以共創開創對話的空間」</h3>
            <p>開放政府第66次協作會議<br />故宮有精神工作坊</p>
          </div>
          <div class="bg"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="case-card">
          <div class="content">
            <h3>「以共創開創對話的空間」</h3>
            <p>開放政府第66次協作會議<br />故宮有精神工作坊</p>
          </div>
          <div class="bg"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="case-card">
          <div class="content">
            <h3>「以共創開創對話的空間」</h3>
            <p>開放政府第66次協作會議<br />故宮有精神工作坊</p>
          </div>
          <div class="bg"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="case-card">
          <div class="content">
            <h3>「以共創開創對話的空間」</h3>
            <p>開放政府第66次協作會議<br />故宮有精神工作坊</p>
          </div>
          <div class="bg"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="case-card">
          <div class="content">
            <h3>「以共創開創對話的空間」</h3>
            <p>開放政府第66次協作會議<br />故宮有精神工作坊</p>
          </div>
          <div class="bg"></div>
        </div>
      </div>
    </div>
    <div class="more">
      <a href="#"><%- page.search.more %></a>
    </div>
  </div>
</section>
