<% if (page.introduction) { %>
<section id="introduction">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h2 class="mb-3"><%- _("post.introduction.title") %></h2>
        <p><%- page.introduction.content %></p>
      </div>
      <div class="col-md-5 d-flex flex-column justify-content-between align-items-end">
        <div>
        <% if (page.introduction.image!="") { %>
        <img src="<%- url_for(page.introduction.image) %>" class="w-100 mb-3" onerror="this.style.display='none'"/>
        <% } %>
        </div>
        <div class="depts">
          <% 
          const depts = array(page.departments);
          depts.push("PDIS");
          depts.forEach(d => {
            const dept = find_dept(d);
            if (dept) {
          %>
          <div class="dept-image text-center" onclick="location.href='/list/?dept=<%- dept.id %>'">
            <img src="<%- url_for(dept.image) %>" class="w-100" />
            <span title="<%- dept.fullname %>"><%- dept.name %></span>
          </div>
          <% }}) %>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>